body {
    background-color: #2C3E50;
    color: #ECF0F1;
    font-family: Arial, sans-serif;
}

#todoform {
    display: none;          
    align-items: center;  
    justify-content: center;  
    margin: 0 auto;          
}

#todoinput {
    margin-right: 10px;
}

h1 {
    text-align: center; 
}

#login {
    display: flex;               
    flex-direction: row;        
    justify-content: center;     
    align-items: center;         
    margin: 0 auto;             
    width: 100%;                 
    max-width: 400px;          
}

#name {
    margin-right: 10px;
}

.done span{
    text-decoration: line-through;
    color: #888;
}

.poistonappi {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #2C3E50;
    margin-bottom: 10px;
    border: 1px solid #BDC3C7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#resetnappi {
    align-items: center;  
    justify-content: center;
}

#napit {
    justify-content: center; 
}

#napit button {
    margin: 10px 10px 0 0;
}
  